.intro .container ul {
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.intro .container li {
  padding: 0.1rem;
  letter-spacing: 2px;
  line-height: 1.5rem;
}

p {
  letter-spacing: 2px;
  line-height: 1.5rem;
}

.top-row h2::first-letter {
  font-size: 120%;
  letter-spacing: 0.1rem;
  color: #f0a500;
}

.service-single-container h1 {
  font-weight: 400;
}

.service-single-container .content h3 {
  font-weight: 400;
  text-decoration: underline;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  padding-top: 2rem;
}

.service-single-container .content h3::first-letter {
  letter-spacing: 0.1rem;
  font-size: 150%;
  padding-top: 2rem;
}

.service-single-container .content p {
  padding: 0.25rem 0;
}

.service-single-container .content ul {
  margin-left: 1rem;
}

.service-single-container .content li {
  padding-left: 1rem;
}

.page-contact h1 {
  font-size: 120%;
}
.page-contact h1::first-letter {
  letter-spacing: 0.1rem;
  font-size: 150%;
  padding-top: 2rem;
}

.price_table_group {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
}

.price-table-card {
  width: 20vw;
}

.price-table-container h1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-bottom: 1rem;
}

.price-table-container h1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-bottom: 1rem;
}

.price-table-container p:nth-of-type(1) {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 600px) {
  .price_table_group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
  }

  .price-table-card-container {
    background-color: red;
  }
  .price-table-card {
    width: 100%;
    padding: 1rem;
    margin: 2rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
