{{ define "body_classes" }}page-contact{{ end }}

{{ define "main" }}

  <div class="content-mobile">
    {{.Content}}
  </div>


  <div class="content-desktop">
    <div id="map" style="height: calc(100vh - 130px - 65px); width: 100vw;"></div>

    <script>
      mapboxgl.accessToken =
        "pk.eyJ1IjoibG9naWNrZWUiLCJhIjoiY2l3cDF1NDZ6MDAzYTJzcWJkYjdrc3M2eSJ9.olztNlbp6uVOOByAvnmUXg";

      const map = new mapboxgl.Map({
        style: "mapbox://styles/mapbox/light-v10",
        center: [114.218319, 22.311422],
        zoom: 16,
        pitch: 45,
        bearing: -17.6,
        container: "map",
        antialias: true,
      });

      map.on("load", () => {
        // Insert the layer beneath any symbol layer.
        const layers = map.getStyle().layers;
        const labelLayerId = layers.find(
          (layer) => layer.type === "symbol" && layer.layout["text-field"]
        ).id;

        // The 'building' layer in the Mapbox Streets
        // vector tileset contains building height data
        // from OpenStreetMap.
        map.addLayer(
          {
            id: "add-3d-buildings",
            source: "composite",
            "source-layer": "building",
            filter: ["==", "extrude", "true"],
            type: "fill-extrusion",
            minzoom: 15,
            paint: {
              "fill-extrusion-color": "#CEDDE8",

              // Use an 'interpolate' expression to
              // add a smooth transition effect to
              // the buildings as the user zooms in.
              "fill-extrusion-height": [
                "interpolate",
                ["linear"],
                ["zoom"],
                15,
                0,
                15.05,
                ["get", "height"],
              ],
              "fill-extrusion-base": [
                "interpolate",
                ["linear"],
                ["zoom"],
                15,
                0,
                15.05,
                ["get", "min_height"],
              ],
              "fill-extrusion-opacity": 0.6,
            },
          },
          labelLayerId
        );
      });

      const geojson = {
        type: "FeatureCollection",
        features: [
          {
            type: "Feature",
            properties: {
              message: "Foo",
              iconSize: [60, 60],
            },
            geometry: {
              type: "Point",
              coordinates: [114.223319, 22.311422],
            },
          },
        ],
      };

      // Add markers to the map.
      // for (const marker of geojson.features) {
      //   // Create a DOM element for each marker.
      //   const el = document.createElement("div");
      //   const width = marker.properties.iconSize[0];
      //   const height = marker.properties.iconSize[1];
      //   el.className = "marker";
      //   el.style.backgroundImage = `url(https://placekitten.com/g/${width}/${height}/)`;
      //   el.style.width = `${width}px`;
      //   el.style.height = `${height}px`;
      //   el.style.backgroundSize = "100%";

      //   el.addEventListener("click", () => {
      //     window.alert(marker.properties.message);
      //   });

      //   // Add markers to the map.
      //   new mapboxgl.Marker(el)
      //     .setLngLat(marker.geometry.coordinates)
      //     .addTo(map);
      // }

      const popup = new mapboxgl.Popup({ closeOnClick: false, closeButton: false })
        .setLngLat([114.223319, 22.311422])
        .setHTML(`
        <div>
          <img src="/images/logo/logo.svg" />
          <div style="text-align:right">
            <h1>我地係喱度 ??</h1>
          </div>
        </div>
        `)
        .addTo(map);
    </script>


    <div style="
      position:absolute; top:150px; left: 150px;
      background: rgba( 230, 230, 230, 0.6 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 8.5px );
      -webkit-backdrop-filter: blur( 8.5px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
    ">

      <div class="content m-2">
        {{.Content}}
      </div>
    </div>
  </div>





{{ end }}



{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $services := resources.Get "js/pages/services.js" }}
{{ $servicesJS := slice $library $services |resources.Concat "js/services.js" }}

{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $servicesJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($servicesJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}
