/*
  $primary: #334756;
  $secondary: #f0a500;
  $black: #2f2f41;
  $white: #ffffff;
  $white-offset: #f6f7ff;
  $steel: #5c5a5a;
*/

/* hover_button */
.btn-1 {
  font-family: sans-serif, -apple-system;
  background: #334756;
  color: #ffffff;
  cursor: pointer;
  padding: 1rem 1.5rem;
  transition: all 0.5s;
  border-radius: 3px;
}

.btn-1:hover {
  background: #f0a500;
  transition: all 0.5s;
  box-shadow: 0px 0px 15px rgba(128, 128, 128, 0.75);
  padding: 1rem 3rem 1rem 1.5rem;
}

.btn-after-test {
  position: absolute;
  opacity: 0;
}

.btn-1:hover:hover .btn-after-test {
  opacity: 1;
  padding-left: 1rem;
  transition: all 0.5s;
}

.icon,
.text {
  vertical-align: middle;
  display: inline-block;
}

/* hover_button */

.intro .container ul {
  padding-left: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.intro .container li {
  padding: 0.1rem;
  letter-spacing: 2px;
  line-height: 1.5rem;
}

p {
  letter-spacing: 2px;
  line-height: 1.5rem;
}

.top-row h2::first-letter {
  font-size: 120%;
  letter-spacing: 0.1rem;
  color: #f0a500;
}

.service-single-container h1 {
  font-weight: 400;
}

.service-single-container .content h3 {
  font-weight: 400;
  text-decoration: underline;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  padding-top: 2rem;
}

.service-single-container .content h3::first-letter {
  letter-spacing: 0.1rem;
  font-size: 150%;
  padding-top: 2rem;
}

.service-single-container .content p {
  padding: 0.25rem 0;
}

.service-single-container .content ul {
  margin-left: 1rem;
}

.service-single-container .content li {
  padding-left: 1rem;
}

.price_table_group {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 100%;
}

.price-table-card {
  width: 20vw;
}

.price-table-container h1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-bottom: 1rem;
}

.price-table-container h1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-bottom: 1rem;
}

.price-table-container p:nth-of-type(1) {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.tryit-image {
  height: 480px;
}

.link-icon {
  padding: 0rem 0.5rem;
}

.page-tryit .intro {
  padding-bottom: 10px;
}

.page-tryit .intro-image h1 {
  width: 100%;
  color: whitesmoke !important;
}

.page-tryit .intro-image h1::first-letter {
  font-size: 120%;
  letter-spacing: 0.1rem;
  color: #f0a500;
}

.page-tryit .intro-image p {
  width: 100%;
  color: whitesmoke !important;
}

.page-tryit .intro p:nth-of-type(1) {
  width: 100%;
}

.page-tryit .intro-mobile {
  display: none;
}

.page-tryit .intro-image {
  width: 100%;
  background-image: url(https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1172&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.page-contact h1 {
}

.content-mobile {
  display: none;
}

@media only screen and (max-width: 1920px) {
}

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 960px) {
}

@media only screen and (max-width: 600px) {
  .price_table_group {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
  }

  .price-table-card-container {
    /* background-color: red; */
  }

  .price-table-card {
    width: 100%;
    padding: 1rem;
    margin: 2rem 0rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .intro {
    padding-bottom: 0px !important;
    text-align: center;
  }
  .tryit-image {
    height: 300px;
  }

  .page-tryit .intro-image {
    display: none;
  }

  .page-tryit .intro-mobile {
    display: block;
  }

  .page-contact h1 {
    text-align: center;
  }

  .page-contact p {
    padding-left: 1rem;
  }
  .content-mobile {
    display: block;
  }

  .content-desktop {
    display: none;
  }
}
