{{ define "body_classes" }}page-tryit{{ end }}

{{ define "main" }}

  <div class="intro">
    <div class="container">
      <div class="row justify-content-start">
        <div class="col-12">
          <div class="intro-image" >
            <div style="padding: 5rem; text-align: right;">
              {{ .Content }}
            </div>
          </div>

          <div class="intro-mobile" >
            {{ .Content }}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {{ range where .Pages.ByWeight ".Params.promoted" true }}
        <!-- <div class="col-12 col-md-6 mb-2">{{ .Render "summary-large" }}</div> -->
        hello promopted
      {{ end }}
    </div>
    <div class="row  pt-6 pb-6">
      {{ range where .Pages.ByWeight ".Params.promoted" "!=" true}}
        <div class="col-12 col-md-4 mb-3">{{ .Render "summary" }}</div>
      {{ end }}
    </div>
  </div>

{{ end }}
