<div class="tryit tryit-summary">
  <div>
    <div class="tryit-image" style='
      background-image: url("{{ .Params.image | relURL }}");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width:100%;
      height:180px;
      filter: blur(2px);
      opacity: 0.2;
      '>
    </div>
    <div style="position: absolute;
      display:flex;
      flex-flow:row;
      justify-content: center;

      top: 0px;
      left: 0px;
      height:180px;
      width:100%;
      ">
    <div style='
      background-image: url("{{ .Params.image | relURL }}");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width:100%;
      height:180px;
      '>
      </div>
    </div>
  </div>

  <div class="tryit-meta">
    <h2 class="tryit-name" style="text-align:center;margin: 1rem 0rem">
      <a href="{{ .Permalink }}">
        {{ .Title }}
      </a>
    </h2>


    {{ if .Params.Jobtitle }}
      <p class="tryit-description" style="text-align:center;margin: 1rem 0rem">{{ .Params.Jobtitle }}</p>
    {{ end }}

    <div style="
      display:flex;
      flex-flow:row;
      justify-content: center;
    ">

      {{ if .Params.try_link }}
        <a target="_blank" rel="noreferrer" href="{{ .Params.try_link }}">前往網站<img class='link-icon' src="/images/arrow-right-circle.svg" /></a>
      {{ end }}

    </div>


  </div>

</div>