<div class="price-table-card" >
  <div style='display:flex;flex-flow:row;justify-content: center;padding:1rem'>
    <h2>Startup 網頁設計</h2>
  </div>

  <div style="background-color: #FFE8F8; color: #CF4CA7; text-align:center">
    <div style="padding: 0.5rem; font-size: 40px">
      <div style="padding:0.5rem">
        <div style="display: flex; flex-flow:row; justify-content: center;">
          <span style="font-size:20px; padding-top:0.5rem">$</span>
          <span style="padding-left:0.5rem">8,800</span>
        </div>
      </div>
      <div style="padding: 0.5rem; font-size:20px">/起</div>
    </div>
  </div>

  <div style='padding-top: 1rem'>
    <ul style='list-style: square inside url("/images/thumbs-up.svg");'>
      <li>1 種網站語言</li>
      <li>6 頁或以內</li>
      <li>UX 網頁設計</li>
      <li>免費 SSL 證書</li>
      <li>域名註冊 ​</li>
      <li>後台管理 CMS</li>
      <li>無限電郵</li>
      <li>網站管理教學</li>
      <li>網站維護</li>
      <li>網頁寄存</li>
      <li>響應式網頁設計</li>
    </ul>
  </div>

</div>
